<h1>Welcome to Wikinimous</h1>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>
<%= link_to "+ Write a new story", new_article_path%>
